/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #7be447;
  --color-secondary: #1f1f1f;
}


<button><i class="fa-solid fa-magnifying-glass" style="color: #000000;" alt="Search light icon"></i>Search</button>


/* bar */

.bar {
  background-color: rgb(31,38,39);
  background: linear-gradient(to bottom, rgb(31,38,39), rgb(99, 99, 99));
  padding: 0.2rem;
  border: 2px black;
  border-radius: 2px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.left.bar ul{
  display: flex; 
  align-items: center;
}

.fa-solid.fa-bars.fa-xl {
  margin-right: 10px; 
}  


.SELogoBar {
  height: 40px;
  width: 70px;
  margin-left: 10px;
  filter: brightness(15%);
  max-width: 100%;
}

.right.bar ul {
  display: flex;
  align-items: center;
}

.fa-solid.fa-film.fa-xl,
.fa-regular.fa-user.fa-xl,
.fa-solid.fa-cart-shopping.fa-xl {
  margin-right: 10px;
}


/* footer */

.footer {
  height: auto;
  background-color: #55555;
  padding: 10px 0;
  margin: 0 auto;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.left.footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer ul {
  list-style-type: none;
  margin-left: 10px;
}

.footer.icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.fa-brands.fa-tiktok.fa-lg {
  margin-right: 5px;
}

.fa-brands.fa-square-instagram.fa-lg {
  margin-right: 5px;
}

.fa-brands.fa-twitter.fa-lg {
  margin-right: 5px;
}

.copyright {
  font-size: xx-small;
  margin-left: 50px;
}

.right.footer {
  display: flex;
  align-items: center;
}

.SELogoFooter {
  height: auto;
  width: 300px;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 10px;
}
