/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@media (min-width: 600px) and (max-width: 1440px) {}


body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  max-width: ;
  min-width: ;
}

/* Bar */

.bar {
  background-color: rgb(31,38,39);
  background: linear-gradient(to bottom, rgb(31,38,39), rgb(99, 99, 99));
  padding: 0.2rem;
  border: 2px black;
  border-radius: 2px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.left.bar ul{
  display: flex; 
  align-items: center;
}

.fa-solid.fa-bars.fa-xl {
  position: absolute;
  top: 2.7rem;
  left: 0.9rem
}  

.SELogoBar {
  height: 40px;
  width: 70px;
  margin-left: 10px;
  filter: brightness(15%);
  max-width: 100%;
}

.right.bar ul {
  display: flex;
  align-items: center;
}

.fa-solid.fa-film.fa-xl,
.fa-regular.fa-user.fa-xl,
.fa-solid.fa-cart-shopping.fa-xl {
  margin-right: 10px;
}

/* Footer */

.footer {
  height: 1%;
  background-color: #55555;
  padding: 10px 0;
  margin: 0 auto;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.left.footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer ul {
  list-style-type: none;
  margin-left: 10px;
}

.footer.icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.fa-brands.fa-tiktok.fa-lg {
  margin-right: 5px;
}

.fa-brands.fa-square-instagram.fa-lg {
  margin-right: 5px;
}

.fa-brands.fa-twitter.fa-lg {
  margin-right: 5px;
}

.copyright {
  font-size: xx-small;
  margin-left: 50px;
}

.right.footer {
  display: flex;
  align-items: center;
}

.SELogoFooter {
  height: auto;
  width: 300px;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 10px;
}

/* Home */
.home {
  height: 100%;
  background-image: url(/assets/images/background1.jpg);
  background-size: 100% 100%;
  background-position: right center;
  backface-visibility: hidden;
  aspect-ratio: auto 2792/1861;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; 
}

.home img {
height: auto;
width: 600px;
margin-bottom: 0;
margin-top: 1rem;
align-self: flex-start;
padding: 1rem;
filter: brightness(70%);
padding: 1rem;
max-width: 100%;
z-index: 1; 
margin-left: 1rem; 
justify-content: center;
}

.home p {
  margin: 1rem;
  margin-right: 55%;
  padding: 1rem;
  filter: drop-shadow(black);
  z-index: 1;  
  max-width: 400px;
}

.home button {
  width: 160px;
  height: 50px;
  text-align: center;
  margin-right: 55%;
  font-size: 22px;
  border-radius: 10px;
  background-color: black;
  color: #FFFFFF;
  border: 5px black;
  z-index: 1;  
  transition: background-color 0.3s;
}

.home button:hover {
  background-color: rgb(23, 21, 21);
}

/* Media query for smaller screens (e.g., mobile) */
  @media (max-width: 1440px) {
  .home {
    height: 100%;
    background-image: url(/assets/images/background1.jpg);
    background-size: cover;
    background-position: 30%;
    backface-visibility: hidden;
    aspect-ratio: auto 2792/1861;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .SELogoHome {
    height: auto;
    width: 300px;
    margin: 10px;
    filter: brightness(60%);
    justify-content: center;
    padding: 1rem;
    max-width: 100%;
    z-index: 1;
  }
  
  .home-text {
    text-align: center;
    margin: 10px;
    margin-left: 2rem;
    padding: 1rem;
    filter: drop-shadow(black);
    z-index: 1;  
    width: 350px;
    font-size: 20px;
    justify-content: center;
  }

  .home button {
    width: 160px;
    height: 50px;
    text-align: center;
    margin-right: 55%;
    font-size: 22px;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
    border: 5px black;
    z-index: 1;  
  }

  .searchfield i {
    display: flex;
    align-self: flex-start;
  }

  .steps {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/images/background2.jpg");
    background-size: 120%;
    background-position: -300px center; 
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 0;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 600px) {
.steps {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/background2.jpg");
  background-size: cover;
  background-position: -300px center; 
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 0;
  font-size: 20px;
  text-align: center;
}
}

.steps ul {
  text-align: center;
  margin: 10px;
}

.Step1,
.Step2,
.Step3 {
  background-color: rgb(68, 40, 28);
  background: linear-gradient(to right, rgb(68, 40, 28), rgb(218, 158, 115),rgb(68, 40, 28));
  color: black;
  text-align: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  border: 0.5px solid black;
  border-radius: 25%;
  box-shadow: 5px 5px 10px;
  filter: drop-shadow(black);
}


.searchfield {
  background-color: #FFFFFF;
  opacity: 45%;
  text-align: start;
  margin: 20px;
  width: 450px;
  height: 40px;
  border: 5px;
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
}

.latest-editions {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

@media (max-width: 1440px) {
  .latest-editions {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 5rem;
  }
}

.check-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(black);
  margin-top: 9rem;
}

.latest.editions.images {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.imgOnceUponHome,
.imgBatmanHome,
.imgHobbsHome,
.imgSweetHome {
  height: 400px;
  max-width: 375x;
  object-fit: cover;
  object-position: bottom;
  margin: 10px;   
  padding: 5px;
  border-radius: 5px;
  flex: 0 0;
}

.halloween {
  display: flex;
  background-color: black;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
} 

.halloween.text {
  font-size: 30px;
  filter: drop-shadow(black);
  padding: 1rem;
  margin-bottom: 1rem;
  z-index: 1;
}

.halloween.images {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
}

.imgScreamHome,
.imgAddamsHome,
.imgBatmanHome2,
.imgGodzillaHome {
  height: 350px;
  max-width: 360px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
  border-radius: 5px;
  margin: -1.5rem;
  margin-top: 1rem;
  min-width: 200px;
}

.discover {
  font-size: 30px;
  text-align: center;
  text-decoration-style: initial;
  color: #FFFFFF;
  filter: drop-shadow(black);
  margin-top: 2rem;
}

/* List of movies */

.top-section-list {
  background-image: url(/assets/images/search_background.jpg);
  background-size: cover;
  background-position: 100% 50%;
  color: #000000;
  backface-visibility: hidden;
  height: 250px;
  padding: 1rem;
}

.top-section-list h1 {
  font-size: 50px;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  filter: drop-shadow(black);
  backface-visibility: hidden;
  text-transform: uppercase;
  font-weight: 900;
}

.top-section-list h2 {
  font-size: 25px;
  font-style: italic;
  margin-left: 1rem;
  margin-top: 0;  
  filter: drop-shadow(black);
  backface-visibility: hidden;
}

.searchfield2 {
  background-color: rgb(213, 213, 213);
  opacity: 70%;
  text-align: start;
  width: 400px;
  height: 40px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%; 
  z-index: -1;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.genres {
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, rgb(102,82,67, 100%),rgb(135,81,41, 0%));
  color:#FFFFFF;
  border-radius: 4px;
}

.genres ul {
  display: flex;
  width: 100%;
  justify-content: space-around; 
  align-items: center;
  list-style: none;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.3s;
}


.movie-container {
  position: relative;
  display: inline-block;
  width: 275px;
  height: auto;
  object-fit: cover;
  margin: 1rem;
}


.movies {
  padding: 0;
  margin: 0;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
  .action-movies,
  .comedy-movies,
  .drama-movies,
  .horror-movies {
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;
    padding: 0.5rem;
    border: 2px solid black;
    box-shadow: outside #000000;
    background: linear-gradient(to bottom,black, rgb(128, 106, 89));
    object-fit: cover;
  }
  
  .Action,
  .Drama,
  .Comedy,
  .Horror {
    padding: 1rem;
    text-align: start;
   }
  
  .action-movies img,
  .comedy-movies img,
  .drama-movies img,
  .horror-movies img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    min-height: 400px;
    max-width: 100%;
    width: 275px;
    height: 425px;
    object-fit: cover;
    justify-content: center;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
    cursor: pointer;
    transition: all 0.4 ease-in;
    background: var(--secondary-color);
    border: 5px solid rgb(0, 0, 0, 0.16);
    border-radius: 6px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
  }

  .action-movies img:hover,
  .comedy-movies img:hover,
  .drama-movies img:hover,
  .horror-movies img:hover {
    background-color: rgb(7, 4, 20);
  }
  
  .fa-solid.fa-ellipsis.fa-2xl {
    position: absolute;
    background-color: grey;
    padding: 1rem;
    text-align: center;
    right: 1rem;
    top: 50%;
    bottom: 50%;
    border-radius: 360px;
  }
  }

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1440px) {
.action-movies,
.comedy-movies,
.drama-movies,
.horror-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  z-index: 1;
  padding: 0.5rem;
  border: 2px solid black;
  box-shadow: outside #000000;
  background: linear-gradient(to bottom,black, rgb(128, 106, 89));
  object-fit: cover;
}

.Action,
.Drama,
.Comedy,
.Horror {
  padding: 1rem;
  text-align: start;
 }

 .action-movies img,
 .comedy-movies img,
 .drama-movies img,
 .horror-movies img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
   min-height: 400px;
   max-width: 100%;
   width: 275px;
   height: 425px;
   object-fit: cover;
   justify-content: center;
   box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
   cursor: pointer;
   transition: all 0.4 ease-in;
   background: var(--secondary-color);
   border-radius: 6px;
   margin-bottom: 1rem;
   margin-top: 1rem;
 }
}

.price-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -3rem;
  right: 0.2rem;
  gap: 0.5rem;
  cursor: pointer;
} 

.fa-solid.fa-cart-plus.fa-lg {
  margin: 0;
}

.price-movie p {
  font-weight: 500;
}

.fa-solid.fa-ellipsis.fa-2xl {
  position: absolute;
  background-color: grey;
  padding: 1rem;
  text-align: center;
  right: 1.5rem;
  top: 50%;
  bottom: 50%;
  border-radius: 360px;
  transition: background-color 0.3s; 
}

.fa-solid.fa-ellipsis.fa-2xl:hover {
  background-color: black; 
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1440px) {
.fa-solid.fa-ellipsis.fa-2xl {

}
}

/* Movie Page */

.movie-page {
  background: linear-gradient(to bottom, rgb(71,71,71),rgb(71,71,71), rgb(128, 106, 89));}

.movie-page-cover {
  font-size: 26px;
  padding: 1rem;
}


/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
  .trailer {
    position: absolute;
    top: 4rem;
  }
}
  
.trailer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  color: black;
  background-color: white;
  opacity: 60%;
  border-radius: 12px;
  border: 3px solid black;
  font-weight: bold;
}

.trailer {
  position: absolute;
  bottom: 4.2rem;
  right: 0.8rem;
}



/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
  .movie-title {
    position: absolute;
    top: 15rem;
    left: 1rem;
    width: 1440px;
    height: 600px;
    color: white; 
    text-align: left;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  @media (min-width: 600px) {
    .movie-page-cover img {
      filter: opacity(30%);
      height: 500px;
      width: 1440px;
      object-fit: contain;
    }
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1440px) {
  .movie-title {
    position: absolute;
    top: 7rem;  
    left: 1rem;
    width: 100%;
    height: 100%;
    color: white; 
    text-align: left;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .movie-page-cover img {
    filter: opacity(30%);
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
}

.movie-cover-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 0;
}

.age {
  border: solid black;
  margin-right: 2rem;
}

.price {
  width: 100%;
  height: 3rem;
  padding: 0; 
  font-size: 22px;
  border-radius: 10px;
  background-color: rgb(21,15,11);
  color: #FFFFFF;
  border: 5px black;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 1rem;
  box-shadow: 5px solid;
} 

.about-this {
  padding: 1rem;
  font-size: 24px;
  margin: 1rem;
}

.info-movie {
  padding: 1rem;
  font-size: 16px;
  margin: 1rem;
}

.quentin,
.leo,
.hour,
.number {
  font-weight: 100;
}

.you-might {
  display: flex;
  flex-direction: column;
}

.you-might h3 {
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: 20px;
}

.you-might-movie-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.imgBatmanHomeMoviePage,
.imgHobbsHomeMoviePage,
.imgSweetHomeMoviePage {
  max-width: 100%;
  width: 275px;
  height: 425px;
  object-fit: cover;
  justify-content: center;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
  cursor: pointer;
  border: 5px solid rgb(0, 0, 0, 0.16);
  border-radius: 6px;
  margin: 1rem;
  margin-top: 0;
  transition: background-color 0.3s;
}

.imgBatmanHomeMoviePage:hover,
.imgHobbsHomeMoviePage:hover,
.imgSweetHomeMoviePage:hover {
  background-color: rgb(7, 4, 20);
}


/* Check out page */

.checkout-home {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  text-align: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.where-you-are {
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #D9D9D9;
  border: 2px;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}

.inside-checkout-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

  .cart {
    margin-top: 1rem;
    width: auto;
    max-width: 100%;
    height: auto; 
    background-color: #D9D9D9; 
    border: 2px solid #000000 50%; 
    border-radius: 1rem; 
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .imgOnceUpon-check {
    width: 400px;
    height: auto;
    padding: 1rem;
    border: #000000;
 }

  .checkout-cart {
    margin-top: 0.5rem;
    width: 90%;
    max-width: 100%;
    height: 800px; 
    background-color: #D9D9D9; 
    border: 2px solid #000000 50%; 
    border-radius: 1rem; 
    text-align: start;
    margin-left: 1rem;
  }

  .cart h1 {
    margin-left: 1rem;
    font-size: 30px;
  }


  .cart h {
    margin-left: 1rem;
  }

  .once-cart {
    padding: 1rem;
    margin-top: 1rem;
  }

  .cart p {
    font-weight: 200;
    font-size: 16px;
    margin-left: 1rem;
  }

  .remove {
    text-decoration: underline;
    text-align: end;
    margin-right: 1rem;
    padding: 1rem;
  }


  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: #D9D9D9;
    border: 2px;
    border-radius: 1rem;
    color: black;
    padding: 0 1rem; 
  }
  
  .total h1,
  .total h {
    font-size: 20px;
    font-weight: bold;
    margin: 0; 
  }
  
  .next-page {
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 80px;
    padding: 5rem;
  }

/* Checkout Successfull page */

.checkoutsuccess-home {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  display: flex;
  flex-direction: column;
  margin: 1px;
  padding: 1rem;
}

.checkout-cart {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: auto; 
  background-color: #D9D9D9; 
  border: 2px; 
  border-radius: 1rem; 
}

.check-icon {
  text-align: center;
  align-items: center;
}

.successfull-container h1 {
  text-align: center;
  color:#000000;
  margin-top: 0;
}

.successfull-container p {
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: #000000;
  margin-top: 0;
}

.watch-now {  
  background-color: rgb(68, 40, 28);
  background: linear-gradient(to right, rgb(68, 40, 28), rgb(218, 158, 115),rgb(68, 40, 28));
  color: black;
  justify-content: center;
  margin: 5px;
  width: 300px;
  height: 70px;
  font-size: 30px;
  text-decoration: none;
  border: 10px black;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px;
  filter: drop-shadow(black);
  z-index: 1;
  margin: 1rem;
  margin-top: 0;
}

.check-icon {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding: 5rem;
}


/* Contact us page */

.contact {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 600px) { 
  .logo-contact img {
    height: auto;
    max-width: 100%; 
    position: absolute;
    top: 0;
    left: 33.33%;
    z-index: -1;
    margin-top: 4rem;
    object-fit: fill;
  }
  
.contact-container {
  display: flex;
  padding: 3rem;
  background-color: grey;
  margin-top: 12rem; 
  margin-bottom: 1rem; 
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-radius: 15px;
  box-shadow: #000000;
  justify-content: center;
}

.contact-container h1 {
  text-align: center;
  font-weight: 300;
}

.left-contact {
  border-radius: 5px solid;
  display: grid;
  grid: 25 25 25 25;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow:inset;
}

.right-contact {
  border-radius: 5px solid;
  align-items: center;
  padding: 1rem;
  margin-top: -1rem;
  box-shadow:inset;
}
}

@media (max-width: 1440px) {
  .logo-contact img {
    height: auto;
    width: 600px;
    position: absolute;
    top: 0;
    left: 33,33;
    z-index: -1;
    margin-top: 4rem;
    background: rgb(71,71,71); 
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: grey;
    gap: none; 
    margin: 0 auto; 
    align-items: center; 
    border-radius: 15px;
    box-shadow: 0 0 5px #000000;
    max-width: 500px;
    margin-top: 10rem;
  }

  .contact-container h1 {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
  }
}


.contact input[type="text"] {
  width: 100%; 
  padding: 1rem; 
  font-size: 20px; 
  border: 2px solid #ccc;
  border-radius: 12px;
  margin: 10px 0; 
  display: flex;
  width: 370px;
}

.left-contact {
  border-radius: 5px;
  display: grid;
  grid: 25 25 25 25;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow:inset;
}

.contact-container p {
  font-weight: 200;
  font-size: 15px;
  text-decoration: underline;
  margin-top: -0.2rem;
}

.right-contact {
  border-radius: 5px;
  align-items: center;
  padding: 1rem;
  margin-top: -1rem;
  box-shadow:inset;
}

.text {
  border-radius: 12px;
}

.contact-message {
  position: relative;
  display: inline-block;
  margin-top: 3px;
}

input[type="message"] {
  width: 100%; 
  padding: 1rem; 
  font-size: 20px; 
  border: 2px solid #ccc;
  border-radius: 12px;
  margin-top: -0.5rem; 
  height: 300px;
  width: 370px;
  display: flex;
}

.send {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15%;
  width: 100%;
  border-radius: 24px;
  background-color: #FFFFFF;

}

.contact-info-boxes {
  display: flex;
  align-items: center; 
  gap: 1rem;
  padding: 1rem;
}

.our-email-box,
.our-phone-box,
.our-adress-box {
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 5px #000000;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 140px;
}

.our-email-box i,
.our-phone-box i,
.our-adress-box i {
  font-size: 24px;
  margin-bottom: 1rem;
}

.typical-QA {
  text-align: center;
  text-decoration: underline;
}


/* About us page */

.about {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  text-align: center;
  padding: 1rem;
}

.about h1 {
  font-size: 40px;
  margin-top: 1rem;
}

.about p {
  font-size: 20px;
  font-weight: 200;
  margin-top: 1rem;
  max-width: 600px; 
  margin: auto; 
  padding: 1rem;
}


/* Play Movie Page */

.movie {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 5rem;
  height: 400px; 
  margin: 5rem auto;
  background-image: url(/assets/images/OnceUponATimeInHollywood.jpeg);
  background-position: 90% 25%;
  object-fit: contain;
  border: 1rem solid white;  
  text-align: start;
  font-size: 40px;
}

@media (max-width: 1440px) {

  .movie i {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}