/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@media (min-width: 600px) and (max-width: 1440px) {}

*, *:before *:after {
  box-sizing: inherit;
}


body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Home */

.bar {
  background-color: rgb(31,38,39);
  background: linear-gradient(to bottom, rgb(31,38,39), rgb(99, 99, 99));
  padding: 0.2rem;
  border: 2px black;
  border-radius: 2px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.left.bar ul{
  display: flex; 
  align-items: center;
}

.fa-solid.fa-bars.fa-xl {
  margin-right: 10px; 
}  


.SELogoBar {
  height: 40px;
  width: 70px;
  margin-left: 10px;
  filter: brightness(15%);
  max-width: 100%;
}


.right.bar ul {
  display: flex;
  align-items: center;
}

.fa-solid.fa-film.fa-xl,
.fa-regular.fa-user.fa-xl,
.fa-solid.fa-cart-shopping.fa-xl {
  margin-right: 10px;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
  .home {
    height: 100%;
    background-image: url(/assets/images/background1.jpg);
    background-size: contain;
    background-position: 80%;
    backface-visibility: hidden;
    aspect-ratio: auto 2792/1861;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1440px) {
  .home {
    height: 100%;
    background-image: url(/assets/images/background1.jpg);
    background-size: cover;
    background-position: 30%;
    backface-visibility: hidden;
    aspect-ratio: auto 2792/1861;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/assets/images/background1.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: -1; /* Place this pseudo-element behind the content */
}


.SELogoHome {
  height: auto;
  width: 600px;
  margin:10px;
  filter: brightness(60%);
  justify-content: center;
  padding: 1rem;
  max-width: 100%;
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.home-text {
  text-align: center;
  margin: 10px;
  margin-right: 50%;
  padding: 1rem;
  filter: drop-shadow(black);
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.watch.online {
  width: 160px;
  height: 50px;
  text-align: center;
  margin: 30px;
  margin-right: 50%;
  font-size: 22px;
  border-radius: 10px;
  background-color: black;
  color: #FFFFFF;
  border: 5px black;
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.steps {
  height: auto;
  background-image: url(/assets/images/background2.jpg);
  background-size: cover;
  background-position: center;
  aspect-ratio: auto 6205/4137;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.steps ul {
  text-align: center;
  margin: 10px;
}

.Step1,
.Step2,
.Step3 {
  background-color: rgb(68, 40, 28);
  background: linear-gradient(to right, rgb(68, 40, 28), rgb(218, 158, 115),rgb(68, 40, 28));
  color: black;
  text-align: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  border: 10px black;
  border-radius: 25%;
  box-shadow: 5px 5px 10px;
  filter: drop-shadow(black);

}

.searchfield {
  background-color: #FFFFFF;
  opacity: 45%;
  text-align: start;
  margin: 20px;
  width: 600px;
  height: 40px;
  border: 5px;
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
}

.latest.editions {
  display: flex;
  background-color: black;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.check.text {
  display: flex;
  text-align: center;
  filter: drop-shadow(black);
}

.halloween {
  display: flex;
  background-color: black;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin-top: 40rem;
} 

.halloween.text {
  font-size: 30px;
  filter: drop-shadow(black);
  padding: 1rem;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
  .halloween {
    margin-top: 10rem; /* Adjust the margin for larger screens */
    margin-bottom: 0%;
  }
  .discover {
    margin-bottom: 0%;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1440px) {
  .halloween {
    margin-top: 40rem; /* No margin for smaller screens to prevent overlapping */
  }
}


.discover {
  font-size: 30px;
  text-align: center;
  text-decoration-style: initial;
  color: #FFFFFF;
  filter: drop-shadow(black);
}

.footer {
  height: 1%;
  background-color: #55555;
  padding: 10px 0;
  margin: 0 auto;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.left.footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer ul {
  list-style-type: none;
  margin-left: 10px;
}

.footer.icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.fa-brands.fa-tiktok.fa-lg {
  margin-right: 5px;
}

.fa-brands.fa-square-instagram.fa-lg {
  margin-right: 5px;
}

.fa-brands.fa-twitter.fa-lg {
  margin-right: 5px;
}

.copyright {
  font-size: xx-small;
  margin-left: 50px;
}

.right.footer {
  display: flex;
  align-items: center;
}

.SELogoFooter {
  height: auto;
  width: 300px;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 10px;
}

/* Images at home */

.latest.editions.images {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px
}

.imgOnceUponHome,
.imgBatmanHome,
.imgHobbsHome,
.imgSweetHome {
  height: 300px;
  max-width: 310px;
  object-fit: cover;
  object-position: bottom;
  margin: 10px; /* Add horizontal spacing between images */
  padding: 5px;
  border-radius: 5px;
  flex: 0 0;
}

.halloween.images {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px
}


.imgScreamHome,
.imgAddamsHome,
.imgBatmanHome2,
.imgGodzillaHome {
  height: 300px;
  max-width: 310px;
  object-fit: cover;
  object-position: bottom;
  margin: 10px; /* Add horizontal spacing between images */
  padding: 5px;
  border-radius: 5px;
  flex: 0 0;
}

/* List of movies */

.top-section-list {
  background-image: url(/assets/images/search_background.jpg);
  background-size: cover;
  background-position: 100% 50%;
  color: #000000;
  backface-visibility: hidden;
  height: 250px;
}

.top-section-list h1 {
  font-size: 50px;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  filter: drop-shadow(black);
  backface-visibility: hidden;
  text-transform: uppercase;
  font-weight: 900;
}

.top-section-list h2 {
  font-size: 25px;
  font-style: italic;
  margin-left: 1rem;
  margin-top: 0;  
  filter: drop-shadow(black);
  backface-visibility: hidden;
}

.searchfield2 {
  background-color: rgb(213, 213, 213);
  opacity: 100%;
  text-align: start;
  width: 450px;
  height: 40px;
  border: 5px;
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
  z-index: -1;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.genres {
  background: linear-gradient(to bottom, rgb(102,82,67, 100%),rgb(135,81,41, 0%));
  color:#FFFFFF;
  border-radius: 4px;
}

.genres ul {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  list-style: none;
  padding: 0.5rem;
  gap: 2rem;
  margin-left: 1rem;
  font-weight: 500;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1440px) {
.action-movies,
.comedy-movies,
.drama-movies,
.horror-movies {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 2px solid black;
  box-shadow: outside #000000;
  background: linear-gradient(to bottom,black, rgb(128, 106, 89));
}


.Action,
.Drama,
.Comedy,
.Horror {
  padding: 1rem;
  text-align: start;
 }


.action-movies img,
.comedy-movies img,
.drama-movies img,
.horror-movies img {
  flex: 1 1 350px;
  max-width: 100%;
  width: 200px;
  height: 325px;
  object-fit: cover;
  justify-content: center;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.4 ease-in;
  background: var(--secondary-color);
  border-radius: 6px;
  column-gap: 1.5rem;
  row-gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
}



/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
.action-movies,
.comedy-movies,
.drama-movies,
.horror-movies {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.5rem;
  border: 2px solid black;
  box-shadow: outside #000000;
  background: linear-gradient(to bottom,black, rgb(128, 106, 89));
}


.Action,
.Drama,
.Comedy,
.Horror {
  padding: 1rem;
  text-align: start;
 }


.action-movies img,
.comedy-movies img,
.drama-movies img,
.horror-movies img {
  flex: 1 1 350px;
  flex-wrap: wrap;
  min-height: 400px;
  max-width: 100%;
  width: 275px;
  height: 425px;
  object-fit: cover;
  justify-content: center;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.4 ease-in;
  background: var(--secondary-color);
  border-radius: 6px;
  column-gap: 1.5rem;
  row-gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
}

.price-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -2.5rem;
  right: 1rem;
  gap: 0.5rem;
  cursor: pointer;
} 

.fa-solid.fa-cart-plus.fa-lg {
 
}

.price-movie p {
  font-weight: 500;
}

.movie-container {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
}

.fa-solid.fa-ellipsis.fa-2xl {
  display: none;
  position: absolute;
  background-color: grey;
  padding: 1rem;
  text-align: center;
  right: 10%;
  top: 50%;
  bottom: 50%;
  border-radius: 360px;
}

/* Movie Page */

.movie-page {
  background: linear-gradient(to bottom, rgb(71,71,71),rgb(71,71,71), rgb(128, 106, 89));}

.movie-page-cover {
  font-size: 26px;
  padding: 1rem;
}

.trailer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  color: white;
  background-color: #000000;s
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1440px) {
  .movie-title {
    position: absolute;
    top: 7rem;  
    left: 1rem;
    width: 100%;
    height: 100%;
    color: white; /* Set the text color */
    text-align: left; /* Center the text horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
  .movie-title {
    position: absolute;
    top: 15rem;
    left: 1rem;
    width: 1440px;
    height: 600px;
    color: white; /* Set the text color */
    text-align: left; /* Center the text horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}


@media (max-width: 1440px) {
  .movie-page img {
    filter: opacity(30%);
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 600px) {
  .movie-page img {
    filter: opacity(30%);
    height: 500px;
    width: 1440px;
    object-fit: cover;
  }
}



.movie-cover-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 1.5rem;
}

.price {
  width: 100%;
  height: 3rem;
  padding: 0; /* Remove excessive padding */
  font-size: 22px;
  border-radius: 10px;
  background-color: darkolivegreen;
  color: #FFFFFF;
  border: 5px black;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.about-this {
  padding: 1.5rem;
  font-size: 24px;
}

.info-movie {
  padding: 1.5rem;
  font-size: 16px;
}

.quentin,
.leo,
.hour,
.number {
  font-weight: 100;
}

.you-might {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 1 auto;
  gap: 1rem;
  padding: 1rem;
}

.imgBatmanHomeMoviePage,
.imgHobbsHomeMoviePage,
.imgSweetHomeMoviePage {
  height: 200px;
  max-width: 310px;
  margin: 0.25rem; /* Add horizontal spacing between images */
  border-radius: 5px;
}


/* Check out page */

.checkout-home {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  text-align: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.where-you-are {
  width: 100%;
  max-width: 100%;
  height: auto; 
  background-color: #D9D9D9; 
  border: 2px solid #000000; 
  border-radius: 1rem; 
  justify-content: space-around;
}

.inside-checkout-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

  .cart {
    margin-top: 1rem;
    width: auto;
    max-width: 100%;
    height: auto; 
    background-color: #D9D9D9; 
    border: 2px solid #000000 50%; 
    border-radius: 1rem; 
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .imgOnceUpon-check {
    width: 400px;
    height: auto;
    padding: 1rem;
    border: #000000;
 }

  .checkout-cart {
    margin-top: 0.5rem;
    width: 90%;
    max-width: 100%;
    height: 800px; 
    background-color: #D9D9D9; 
    border: 2px solid #000000 50%; 
    border-radius: 1rem; 
    text-align: start;
    padding-left: 1rem;
    font-size: 20px;
  }

  .once-cart {
    font-weight: bold;
  }

  .remove {
    text-decoration: underline;
    text-align: end;
  }


  .total {
    width: 100%;
    max-width: 100%;
    height: 50px; 
    background-color: #D9D9D9; 
    border: 2px solid #000000 50%; 
    border-radius: 1rem; 
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align: start;
  }

  .next-page {
    align-items: center;
    justify-content: center;
    font-size: 80px;
    padding: 5rem;
  }

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 900px) {
  .next-page {
    position: absolute;
    top: 60%;
    right: 5%;
    font-size: 140px;
  }
}

/* Checkout Successfull page */

.checkoutsuccess-home {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
}

.checkout-cart {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%%;
  max-width: 100%;
  height: auto; 
  background-color: #D9D9D9; 
  border: 2px solid #000000 50%; 
  border-radius: 1rem; 
  text-align: start;
  font-size: 20px;
}

.check-icon {
  text-align: center;
  align-items: center;
}

.successfull-container h1 {
  text-align: center;
}

.successfull-container p {
  text-align: center;
  padding: 1rem;
  font-style: italic;
}

.watch-now {
  background-color: rgb(68, 40, 28);
  background: linear-gradient(to right, rgb(68, 40, 28), rgb(218, 158, 115),rgb(68, 40, 28));
  color: black;
  text-align: center;
  justify-content: center;
  margin: 5px;
  width: 300px;
  height: 70px;
  font-size: 30px;
  text-decoration: none;
  border: 10px black;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px;
  filter: drop-shadow(black);
  z-index: 1;
}


.check-icon {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding: 5rem;
}

/* Contact us page */

.contact {
  background: linear-gradient(to top, rgb(71,71,71), rgb(128, 106, 89)); 
}

.SeLogo-Contact {
  height: auto;
  width: 600px;
  position: absolute;
  top: 0;
  left: 33,33;
  z-index: -1;
  margin-top: 4rem;
}


.contact-container {
  padding: 3rem;
  background-color: grey;
  width: 100%; 
  height: auto;
  margin-top: 12rem; 
  margin-bottom: 1rem; 
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  text-align: center;
}

.contact-container h1 {
  text-align: center;
  font-weight: 300;
}

.left-contact {
  background-color: blue;
  border-radius: 5px;
  display: grid;
  grid: 25 25 25 25;
  align-items: center;
}

.contact-container p {
  font-weight: 200;
  font-size: 10px;
  text-decoration: underline;
}

.right-contact {
  background-color: pink;
  border: 0.25rem solid;
  border-color: white;
  border-radius: 5px;
  align-items: center;
}

.contact-message {
  position: relative;
  display: inline-block;
  margin-top: 3px;
}

.message {
  height: 150px;
}

.send {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 15%; /* Make the button the same height as the input */
  width: 100%;
  border-radius: 10px;
}

.contact-info-boxes {
  display: flex;
  align-items: center; 
  flex: 1 1 270px;
  gap: 1rem;
  padding: 1rem;
}

.our-email-box,
.our-phone-box,
.our-adress-box {
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: outside #000000;
  background-color: white;
  color: black;
  width: 270px;
  height: 210px;
  justify-content: space-around;
}

.typical-QA {
  text-align: center;
  text-decoration: underline;
}

/* About us page */

.about {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  text-align: center;
  padding: 1rem;
}

.about h1 {
  font-size: 40px;
  margin-top: 1rem;
}

.about p {
  font-size: 20px;
  font-weight: 200;
  margin-top: 1rem;
  max-width: 600px; /* Set a maximum width for the paragraph */
  margin: auto; /* Center the paragraph horizontally */
  padding: 1rem;
}


/* Play Movie Page */

.movie {
  align-items: center;
  text-align: center;
  width: 1000px;
  height: 700px; 
  background-color: black; 
  border: 2px solid #000000;  
  text-align: start;
  font-size: 40px;
}